* {
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box !important;
	margin:0;
	padding:0;
}

html, body {
    max-width: 100% !important;
	overflow-x: hidden !important;
}

.button, ::placeholder {
    font-family: $font-family;
}

h6,h5,h4,h3,h2,h1 {
	margin: 0;
}

.fullheight {
	min-height: 100vh !important;
}

.column, .columns {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

@media only screen and(max-width: 820px){
	.hide-on-mobile {
		display: none;
	}
}