<template>
	<div :class="display">
		<div v-for="car in cars" :key="car.id" v-if="car.value >= lowestValue && car.value <= highestValue" class="card-container">
			<div class="card">
				<img class="thumbnail" :src="getImageSrc(car.thumbnail)">
				<div class="info">
					<div class="brand">{{ car.brand }}</div>
					<div class="title">{{ car.title }}</div>
					<h1 class="value">{{ getFormattedValue(car.value) }}</h1>
				</div>
				<div class="info">
					<span>
						<img src="@/assets/images/icons/calendar.png">
						{{ `${car.year}/${car.modelYear}` }}
					</span>
					<span class="small">
						<img src="@/assets/images/icons/palettes.png">
						{{ car.color }}
					</span>
					<span>
						<img src="@/assets/images/icons/transmission.png">
						{{ car.transmission }}
					</span>
					<br>
					<span>
						<img src="@/assets/images/icons/speed.png">
						{{ `${car.kilometers} KM` }}
					</span>
					<span class="small">
						<img src="@/assets/images/icons/fuel.png">
						{{ car.fuel }}
					</span>
					<span>
						<img src="@/assets/images/icons/license-plate.png">
						{{ `###${car.licensePlateEnd}` }}
					</span>
					<div class="floating-button">
						<v-button @click="openModal(car)" v-if="car.description" large="true">+ DETALHES</v-button>
					</div>
				</div>
			</div>
			<hr v-if="car.id < cars.length && display === 'inline'" class="hide-on-mobile">
		</div>
	</div>
</template>

<script>
import VueButton from '@/components/VueButton.vue';
const Functions = require('@/assets/functions');

export default {
	computed: {
		highestValue() {
			return this.$store.state.cars.highestValue;
		},
		lowestValue() {
			return this.$store.state.cars.lowestValue;
		},
		cars() {
			return this.$store.state.cars.cars;
		},
		display() {
			return this.$store.state.cars.display;
		},
	},
	components: {
		'v-button': VueButton
	},
	methods: {
		getImageSrc(name) {
            return require('@/assets/images/'+name);
		},
		getFormattedValue(value) {
			return Functions.getFormattedValue(value);
		},
		openModal(car) {
			this.$store.commit({
				type: 'openModal',
				title: car.title,
				content: car.description
			});
		}
	}
}
</script>

<style lang="scss" scoped>
	hr {
		margin-top: 2.5rem;
		width: calc(100% - 15px);
		border-bottom: 1px solid $muted;
		opacity: .1;
	}
	//Estilização do card de anuncio de carro inline
	.card {
		margin-top: 2.5rem;
		padding-left: 30%;
		position: relative;
		.thumbnail {
			width: 30%;
			height: 100%;
			object-fit: cover;
			left: 0;
			position: absolute;
			transition: 400ms;
			box-shadow: 0 2px 2px 0 rgba(80, 80, 80, 0.14),
					0 3px 1px -2px rgba(80, 80, 80, 0.12),
					0 1px 5px 0 rgba(80, 80, 80, 0.2);
			&:hover {
				transform: scale(1.01);
				cursor: pointer;
				transition: 200ms;
				box-shadow: 0 2px 2px 0 rgba(155, 155, 155, 0.14),
					0 3px 1px -2px rgba(155, 155, 155, 0.12),
					0 1px 5px 0 rgba(155, 155, 155, 0.2);
				filter: brightness(1.1);
			}
		}
		.info {
			line-height: 1.8;
			padding: 1rem 2.3rem;
			position: relative;
			.brand {
				text-transform: uppercase;
				font-size: .8rem;
				line-height: 1.7;
			}
			.title {
				text-transform: uppercase;
			}
			.value {
				font-size: 1.3rem;
				font-weight: bold;
				font-family: Tahoma, sans-serif;
				line-height: 2.5;
				&::after {
					content: "";
					position: absolute;
					width: 90%;
					bottom: 0;
					left: 2.3rem;
					border-bottom: 2px solid $muted;
					opacity: .3;
				}
			}
			span {
				line-height: 2.2;
				display: inline-block;
				width: 25%;
				font-size: .9rem;
				&.small {
					width: 20%;
				}
				img {
					width: 1.5em;
					transform: translateY(20%);
				}
			}
			.floating-button {
				position: absolute;
				top: 20px;
				right: 45px;
				height: 4em;
			}
		}
	}
	//Classe utilizada quando o usuário clica no botão para mostrar em blocos
	.block {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		width: 100%;
		.card-container {
			display: block;
			flex: 1 0 auto;
			max-width: 33%;
			.card {
				padding: 0 0 1rem 0;
				margin: 1rem;
				border: 1px solid $primary;
				box-shadow: 0 2px 2px 0 rgba(155, 155, 155, 0.14),
					0 3px 1px -2px rgba(155, 155, 155, 0.12),
					0 1px 5px 0 rgba(155, 155, 155, 0.2);
				.thumbnail {
					width: 100%;
					height: 40vh;
					position: inherit;
				}
				.info {
					span {
						width: 100%;
						display: inline-block;
						&.small {
							width: 100%;
						}
					}
					.floating-button {
						position: relative;
						margin-left: 2.3rem;
					}
					.value {
						&::after {
							left: 5%;
						}
					}
				}
			}
		}
	}
	//Media query para telas entre 820px e 1024px
	@media only screen and(max-width: 1024px){
		//Mostra apenas dois blocos
		.block {
			.card-container {
				max-width: 50%;
			}
		}
	}
	//Media query para telas menores que 820px
	@media only screen and(max-width: 820px){
		//Mostra apenas um bloco
		.block {
			.card-container {
				max-width: 100%;
				.card {
					.thumbnail {
						height: 100%;
					}
				}
			}
		}
		//Mesmo inline, a visualização em em bloco para telas pequenas
		.card {
			padding-left: 0;
			.thumbnail {
				width: 100%;
				position: inherit;
			}
			.info {
				.title {
					font-size: 1.2rem;
				}
				span {
					width: 100%;
					display: inline-block;
					&.small {
						width: 100%;
					}
				}
				.floating-button {
					position: relative;
					margin-left: 2.3rem;
				}
				.value {
					&::after {
						left: 5% ;
					}
				}
			}
		}
	}
</style>