<template>
    <button @click="$emit('click')" :type="type" :disabled="disabled" :class="{ muted: muted, large: large }">
        <slot></slot>
    </button>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: 'button'
        },
        disabled: {
            type: Boolean,
            default: false
		},
		muted: {
            default: false
		},
		large: {
            default: false
        }
    },
}
</script>

<style scoped lang="scss">
    button {
        text-decoration: none;
        color: $black;
        background-color: $inverse;
        text-align: center;
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: bold;
        outline: 0;
        line-height: 1.4;
        padding: 0 10px;
        text-transform: uppercase;
        transition: .3s;
		border: 2px solid $primary;
        &:hover {
            cursor: pointer;
            transform: scale(1.01);
			transition: .1s;
        }
        &:disabled, &.muted {
            pointer-events:none;
            box-shadow: none;
			background-color: $darker-primary;
		}
		&.large {
			border: 1px solid $primary;
			line-height: 4;
			&:hover {
				box-shadow: 0 2px 2px 0 rgba(155, 155, 155, 0.14),
					0 3px 1px -2px rgba(155, 155, 155, 0.12),
					0 1px 5px 0 rgba(155, 155, 155, 0.2);
			}
		}
    }
</style>