<template>
	<nav>
		<div v-if="title" class="title">
			{{ title }}
		</div>
		<section>
			<div class="title">
				<slot name="title"></slot>
			</div>
			<div class="subtitle">
				<slot name="subtitle"></slot>
			</div>
			<div class="content">
				<slot name="content"></slot>
			</div>
		</section>
	</nav>
</template>

<script>
export default {
	props: {
        title: {
            type: String,
        },
    },
}
</script>


<style lang="scss" scoped>
	nav {
		background: $primary;
		width: 100%;
		height: 100%;
		padding: .8rem;
		.title {
			text-transform: uppercase;
			font-size: 1.2rem;
		}
		section {
			.title {
				margin-top: 1rem;
				font-size: 0.9rem;
				font-weight: bold;
			}
			.subtitle {
				color: $muted;
				font-size: .8em;
				font-weight: bold;
				line-height: 2.5;
			}
		}
	}
</style>

