<template>
    <div v-if="active" class="modal-container active">
		<div class="background"></div>
		<button @click="closeModal" class="close" aria-label="close">&times;</button>
		<div class="modal">
			<h2 class="title">
				{{ title }}
			</h2>
			<div class="content">
				{{ content }}
			</div>
		</div>
	</div>
</template>

<script>
    export default {
		computed: {
			active() {
				return this.$store.state.modal.active;
			},
			title() {
				return this.$store.state.modal.title;
			},
			content() {
				return this.$store.state.modal.content;
			},
		},
		methods: {
			closeModal() {
				this.$store.commit('closeModal');
			}
		}
    }
</script>

<style scoped lang="scss">
	$modal-z-index: 100;
    .modal-container {
		animation: backgroundActivation 350ms ease-out;
		.background {
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			position: fixed;
			background: $black;
			opacity: .6;
			z-index: $modal-z-index;
		}
		.close {
			height: 28px;
			width: 28px;
			position: fixed;
			right: 20px;
			top: 20px;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			font-size: 1rem;
			z-index: $modal-z-index + 1;
			outline: none;
			background: $inverse;
			transition: 500ms;
			&:hover {
				transition: 200ms;
				transform: rotate(90deg) scale(1.1);
			}
		}
		.modal{
			right: 50%;
			transform: translateY(-50%) translateX(50%);
			top: 50%;
			position: fixed;
			background: $darker-primary;
			padding: 15px;
			z-index: $modal-z-index + 2;
			border: 2px solid $inverse;
			animation: modalActivation 450ms cubic-bezier(.52,.31,.14,.91);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 3px 1px -2px rgba(0,0,0,0.12),
				0 1px 5px 0 rgba(0,0,0,0.2);
			.content {
				letter-spacing: 1px;
				text-align: center;
				line-height: 1.8;
				color: $white;
			}
			.title {
				letter-spacing: 2px;
				line-height: 1.8;
				text-align: center;
				font-weight: 500;
				text-transform: uppercase;
				color: $inverse;
				text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.6);
			}
		}
	}
	@keyframes backgroundActivation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes modalActivation {
		0% {
			opacity: 0;
			transform: translateY(-150%) translateX(50%) rotateX(-90deg);
		}
		100% {
			opacity: 1;
			transform: translateY(-50%) translateX(50%);
		}
	}
</style>