<template>
	<section class="range-slider">
		<input
			@change="setLowestValue($event.target.value)"
			:value="lowestValue"
			:min="minValue"
			:max="maxValue"
			step="100"
			type="range"
		>
		<input
			@change="setHighestValue($event.target.value)"
			:value="highestValue"
			:min="minValue"
			:max="maxValue"
			step="100"
			type="range"
		>
	</section>
</template>

<script>
export default {
	data() {
		return {
			minValue: 0,
			maxValue: 0,
		}
	},
	computed: {
		highestValue() {
			return this.$store.state.cars.highestValue;
		},
		lowestValue() {
			return this.$store.state.cars.lowestValue;
		},
	},
	created() {
		this.minValue = this.lowestValue - 5000;
		this.maxValue = this.highestValue + 5000;
	},
	methods: {
		setLowestValue(value) {
			this.$store.commit('setLowestValue', value);
		},
		setHighestValue(value) {
			this.$store.commit('setHighestValue', value);
		},
	}
}
</script>

<style lang="scss" scoped>
	section.range-slider {
		position: relative;
		width: 100%;
		height: 35px;
		input[type=range] {
			-webkit-appearance: none;
			width: 100%;
			pointer-events: none;
			position: absolute;
			left: 0;
			top: 5px;
			outline: none;
			//CHROME
			&::-webkit-slider-runnable-track { //Estiliza a barra
				width: 100%;
				height: 8px;
				cursor: pointer;
				background: $white;
				border-radius: 1.3px;
				border: 1px solid $darker-primary;
			}
			&::-webkit-slider-thumb { //Estiliza o seletor
				pointer-events: all;
				position: relative;
				z-index: 1;
				outline: 0;
				border: 1px solid $darker-primary;
				height: 20px;
				width: 20px;
				border-radius: 15px;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -7.5px;
				background: $white;
				background: radial-gradient(circle, $inverse 43%, $white 45%);
				transition: 300ms;
				&:active {
					transition: 100ms;
					transform: scale(1.2);
				}
			}
			//MOZILLA
			&::-moz-range-track {//Estiliza a barra
				width: 100%;
				height: 8px;
				cursor: pointer;
				background: $white;
				border-radius: 1.3px;
				border: 1px solid $darker-primary;
			}
			&::-moz-range-thumb { //Estiliza o seletor
				border: 1px solid $darker-primary;
				height: 20px;
				width: 20px;
				border-radius: 15px;
				background: $inverse;
				cursor: pointer;
				margin-top: -7.5px;
				transition: 300ms;
				&:active {
					transition: 100ms;
					transform: scale(1.2);
				}
			}
			&::-moz-range-thumb { //Traz o seletor para a frente das barras
				pointer-events: all;
				position: relative;
				z-index: 10;
				-moz-appearance: none;
				width: 9px;
			}
			&:last-of-type::-moz-range-track { //Esconde uma das barras
				-moz-appearance: none;
				opacity: 0;
			}
		}
	}
</style>