<template>
	<section>
		<h1 class="title">
			<slot name="title"></slot>
		</h1>
		<h4 class="subtitle">
			<slot name="subtitle"></slot>
		</h4>
		<div class="right">
			<slot name="right"></slot>
		</div>
		<div class="backgrounded">
			<slot name="backgrounded"></slot>
			<div class="backgrounded-right">
				<v-select :values="['Ano', 'Marca', 'Modelo', 'Final da Placa']" label="Ordenar por:"></v-select>
			</div>
		</div>
	</section>
</template>

<script>
import VueSelect from '@/components/VueSelect.vue';
export default {
	components: {
		'v-select': VueSelect
	},
}
</script>


<style lang="scss" scoped>
	section {
		margin-top: 1.3em;
		position: relative;
		.title {
			font-weight: 500;
			font-size: 2.1rem;
			line-height: 1.6;
		}
		.subtitle {
			font-weight: 500;
		}
		//Classe CSS que representa o bloco horizontal com fundo cinza
		.backgrounded {
			background: $primary;
			padding: 0.5rem 1rem;
			margin-top: 2rem;
			div:not(.backgrounded-right) {
				margin: 1rem 0;
			}
			.backgrounded-right {
				position: absolute;
				right: 1rem;
				bottom: 0rem;
			}
		}
		.right {
			float: right;
		}
	}
	//Ajusta o tamanho das fontes em telas muito pequenas
	@media only screen and(max-width: 820px){
		section {
			.title {
				text-align: center;
				font-size: 1.8rem;
				padding: 10px;
			}
			.subtitle {
				text-align: center;
				padding: 10px;
			}
		}
	}
	//Ajusta o select para telas muito pequenas
	@media only screen and(max-width: 400px){
		section {
			.backgrounded {
				.backgrounded-right {
					position: relative;
					right: auto;
				}
			}
		}
	}
</style>
