<template>
	<div>
		<label v-if="label">{{ label }}</label>
		<div class="select">
			<select :name="name" required dir="rtl">
				<option v-if="placeholder" value="" selected disabled>{{ placeholder }}</option>
				<option v-for="value in values" :key="value">{{ value }}</option>
			</select>
		</div>
	</div>
</template>

<script>
    export default {
        props: {
            placeholder: String,
			name: String,
			label: String,
            values: {
                type: Array,
                required: true
            }
        },
    }
</script>

<style scoped lang="scss">
label {
	display: inline-block;
	text-align: right;
	width: 100%;
	font-size: .95em;
}
.select {
    position:relative; 
    margin: 5px 0 0 0;
    display: block;
    line-height: 1.8;
    background: $black;
    overflow: hidden;
	border-bottom:1px solid $black;
	select {
		outline: 0;
		box-shadow: none;
		border: 0 !important;
		background: $black;
		background-image: none;
		margin: 0;
		padding: 0;
		color: $white;
		text-align: right;
		cursor: pointer;
		font-size: .8em;
		text-transform: uppercase;
		padding: 0 3em;
		width: 100%;
		-webkit-appearance: none;
    	-moz-appearance: none;
		&::-ms-expand {
			display: none !important;
		}
	}
	&::after {
		content: '\25BC';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: .25em 1em;
		background: $black;
		pointer-events: none;
		color: $primary;
		font-size: .8em;
	}
}
</style>