<template>
<div class="columns fullheight">
	<div class="column is-2">
		<!-- MENU LATERAL -->
		<v-menu title="filtros">
			<div slot="title">
				faixa de preço
			</div>
			<div slot="subtitle">
				{{ valueRange }}
			</div>
			<div slot="content">
				<v-slider/>
			</div>
		</v-menu>
	</div>
	<div class="column is-10">
		<!-- CABEÇALHO -->
		<v-section>
			<div slot="title">
				Resultado da Busca por <b>{{ search }}</b>
			</div>
			<div slot="subtitle">
				Sua pesquisa por <b>{{ search }}</b> encontrou <b>{{ results }}</b> veículo(s) em {{ totalPages }} página(s).
			</div>
			<div slot="right">
				<div class="hide-on-mobile display-icons" @click="changeActiveDisplay($event)">
					<img class="is-active" ref="displayInline" src="@/assets/images/icons/display-inline.png">
					<img ref="displayBlock" src="@/assets/images/icons/display-block.png">
				</div>
			</div>
			<div slot="backgrounded">
				<div>
					Veículos <b>1-{{ pageSize }}</b> de <b>{{ results }}</b>.
				</div>
				<div>
					Página: <v-button>1</v-button><v-button muted="true">2</v-button>
				</div>
			</div>
		</v-section>
		<!-- ANUNCIOS DOS CARROS PASSANDO UM ARRAY -->
		<car-ad/>
		<!-- RODAPÉ -->
		<v-section>
			<div slot="backgrounded">
				<div>Foram encontrados <strong>{{ results }}</strong> veículos em {{ totalPages }} página(s).</div>
				<div>Página: <v-button>1</v-button><v-button muted="true">2</v-button></div>
			</div>
		</v-section>
	</div>
	<!-- MODAL COM INFORMAÇÕES DO CARRO -->
	<v-modal/>
</div>
</template>

<script>
import VueMenu from '@/components/VueMenu.vue';
import VueSection from '@/components/VueSection.vue';
import VueButton from '@/components/VueButton.vue';
import CarAd from '@/components/CarAd.vue';
import VueSlider from '@/components/VueSlider.vue';
import VueModal from '@/components/VueModal.vue';
const Functions = require('@/assets/functions');

export default {
	components: {
		'v-menu': VueMenu,
		'v-section': VueSection,
		'v-button': VueButton,
		'car-ad': CarAd,
		'v-slider': VueSlider,
		'v-modal': VueModal
	},
	data() {
		return {
			search: 'Cruze',
			results: 7,
			pageSize: 5,
		}
	},
	created() {
		this.$store.commit('setCarValues');
	},
	computed: {
		highestValue() {
			return this.$store.state.cars.highestValue;
		},
		lowestValue() {
			return this.$store.state.cars.lowestValue;
		},
		totalPages() {
			return Math.ceil(this.results/this.pageSize);
		},
		valueRange() {
			return `${Functions.getFormattedValue(this.lowestValue)} - ${Functions.getFormattedValue(this.highestValue)}`;
		}
	},
	methods: {
		changeActiveDisplay(event) {
			if (event.target === this.$refs.displayBlock) {
				this.$store.commit('changeDisplay', 'block');
				this.$refs.displayBlock.classList.add('is-active');
				this.$refs.displayInline.classList.remove('is-active');
			} else {
				this.$store.commit('changeDisplay', 'inline');
				this.$refs.displayBlock.classList.remove('is-active');
				this.$refs.displayInline.classList.add('is-active');
			}
		},
	},
}
</script>

<style lang="scss">
	.display-icons {
		img {
			width: 2em;
			transform: translateY(-50%);
			opacity: .5;
			margin: 0 5px;
			transition: 300ms;
			&:hover {
				cursor: pointer;
			}
			&.is-active {
				opacity: 1;
				animation: activation 500ms ease-in-out;
			}
		}
	}
	//Animação para quando o usuário clicar no ícone de alteração entre bloco / linha
	@keyframes activation {
		0% {
			opacity: .5;
		}
		100% {
			opacity: 1;
		}
	}
</style>